[submodule "drawception-notification-script"]
	path = drawception-notification-script
	url = https://github.com/MitalAshok/drawception-notification-script.git
[submodule "xkcd-Tweaks"]
	path = xkcd-Tweaks
	url = https://github.com/MitalAshok/xkcd-Tweaks.git
[submodule "SwitchTile"]
	path = SwitchTile
	url = https://github.com/MitalAshok/SwitchTile
